.idea/
.venv/
__pycache__/
*.pyc
.DS_Store

# Dataset files
data/images/*
data/masks/*
!data/images/.gitkeep
!data/masks/.gitkeep

# Large local subsets
isic_100_subset/
isic_1000_subset/
*.zip

# Trained models
models/*.keras
models/*.h5

# Output files
outputs/*
!outputs/.gitkeep